@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 8px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/* Typography */
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
h1,
h2,
h3,
h4 {
	font-family: 'DM Sans';
}

/* Custom Cursor */
.cursor {
	background-color:#ffffff;
	box-shadow:
    0 0 15px 7.5px #fff,  /* inner white */
    0 0 25px 15px #f0f, /* middle magenta */
    0 0 35px 10px #0ff; /* outer cyan */
	height: 32px;
	width: 32px;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
}

/* Cursor Stylings */
* {
	cursor: none;
}

/* Site Padding */
@media (min-width: 768px) {
	html {
	  padding-left: 8rem;
	  padding-right: 8rem;
	}
  }

/* h-screen */
.h-screen-minus-40 {
    height: calc(100vh - 40px);
}

/* Site Colors */
html {
	background-color: #000000;
	color: #fff;
}

.nowPlayingCard {
    flex-shrink: 0;
    border-radius: 22px;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.3);
    align-items: center;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.nowPlayingCard:hover {
    box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.3);
    transform: translateX(-10px) translateY(-10px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
  
.nowPlayingCard a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nowPlayingCard a:hover {
    color: black;
    text-decoration: underline;
}

.nowPlayingImage img {
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin: 10px;
}

.nowPlayingImage img:hover {
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.3);
    transform: translateX(-3px) translateY(-3px);
    transition: all 0.5s ease;
}

#nowPlayingDetails {
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 54%;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 54%;
    height: 100%;
}

.nowPlayingTitle, .playlistName {
    flex-shrink: 0;
    color: #ffffff;
    white-space: nowrap;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.nowPlayingArtist, .playlistHeader {
    text-align: left;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
	color: white;
}

.nowPlayingTime {
    text-align: left;
	color: white;
}

.nowPlayingState {
    text-align: center;
    width: 20%;
    padding: 10px;
}

.nowPlayingState img{
    filter: invert(100%);
    width: 100%;
}